<!DOCTYPE html>
<html>
<head>
<title>Tech Futures | Microservices</title>

<link rel="stylesheet" type="text/css" href="toolkit.css">
<link rel="stylesheet" href="http://web-toolkit.global.sky.com/2.3.7/fonts/skycons.min.css"/>
<link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>

  <div class="headerContainer">
    <img class="headerImage" src="img/headerImage.png" />
  </div>

  <div class="example clearfix" id="grid12-tablet">
      <div class="alpha skycom-2">
          <div class="cushioned">
              <div>&nbsp;</div>
          </div>
      </div>
      <div class="skycom-8">
          <div class="cushioned">
              <div>
                <a href="http://{{host_ip.stdout}}:{{amqp_admin}}/#/">
                  <div class="example clearfix platformBox" id="grid12-tablet">
                      <div class="alpha skycom-4 serviceLogoBox">
                              <img class="serviceLogo" src="img/RabbitMQ.png"/>
                      </div>
                      <div class="skycom-8 serviceDescription">
                              <h2 class="serviceNameBox">Rabbit MQ</h2>
                              <p>RabbitMQ is an open source message broker software (sometimes called message-oriented middleware) that implements the Advanced Message Queuing Protocol (AMQP).</p>
                              <div class="view">View ></div>
                      </div>
                  </div>
                </a>
                <a href="http://{{host_ip.stdout}}:3000/index.html">
                <div class="example clearfix platformBox" id="grid12-tablet">
                    <div class="alpha skycom-4 serviceLogoBox">
                            <img class="serviceLogo" src="img/photon.png"/>
                    </div>
                    <div class="skycom-8 serviceDescription">
                            <h2 class="serviceNameBox">Photon</h2>
                            <p>Project Photon is an open source, Linux container host runtime optimized for VMware vSphere. Project Photon is extensible, lightweight, and supports the most common container formats including Docker, Rocket and Garden.</p>
                            <div class="view">View ></div>
                    </div>
                </div>
                </a>
              </div>
          </div>
      </div>
      <div class="skycom-2">
          <div class="cushioned">
              <div>&nbsp;</div>
          </div>
      </div>
  </div>

  <div class="example clearfix footerContainer" id="grid12-tablet">
    <div class="alpha skycom-3">
        <div class="cushioned">
            <div>
              &nbsp;
            </div>
        </div>
    </div>
      <div class="skycom-2">
          <div class="cushioned">
              <div>
                <ul class="column">
                  <li><h3>Explore Sky</h3></li>
                  <li><a href="https://corporate.sky.com/">Sky Corporate</a></li>
                  <li><a href="https://business.sky.com/">Sky Business</a></li>
                  <li><a href="https://communaltv.sky.com/">Sky Homes</a></li>
                  <li><a href="http://www.skymedia.co.uk/Advertising-platforms/">Advertise With Us</a></li>
                </ul>
              </div>
          </div>
      </div>
      <div class="skycom-2">
          <div class="cushioned">
              <div>
                <ul class="column">
                  <li><h3>Tech Futures</h3></li>
                  <li><a href="http://cistechfutures.net">Tech Futures</a></li>
                  <li><a href="#">Admin</a></li>

                </ul>
              </div>
          </div>
      </div>
      <div class="skycom-2">
          <div class="cushioned">
              <div>
                <ul class="column">
                  <li><h3>More Sky Sites</h3></li>
                  <li><a href="developers.sky.com">Developers</a></li>
                  <li><a href="https://www.skyacademy.com/">Sky Academy</a></li>
                </ul>
              </div>
          </div>
      </div>
      <div class="skycom-3">
          <div class="cushioned">
              <div>
                &nbsp;
              </div>
          </div>
      </div>
  </div>

</body>
</html>
