html{
    height: 100%;
}

body {
    height: 100%;
    font-family: Gill Sans, sans-serif;
    font-size: 18px;
    margin: 0px;
}

#content {
    height: 100%;
}

.user-forms{
    display: inline-block;
    height: 100%;
    width: 33%;
    min-width: 320px;
    border-right: solid 2px;
    padding: 50px 0px;
}

.form{
    margin: 30px auto;
    padding: 10px;
    text-align: center;
    width: 300px;
}

.form label{
    float: left;
        margin: 10px 25px 5px;
}

.form button{
    margin-top: 20px;
    width: 150px;
    height: 25px;
    background-color: #5CD65C;
    border-radius: 5px;
}

.form input[type="text"], .form input[type="password"]{
    width: 250px;
    height: 25px;
    font-size: 18px;
}


/* ALERTS */
/* inspired by Twitter Bootstrap */

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #eed3d7;
  border-radius: 4px;
  position: absolute;
  bottom: 0px;
  right: 21px;
  /* Each alert has its own width */
  float: right;
  clear: right;
}

.alert-red {
  color: white;
  background-color: #DA4453;
}
.alert-green {
  color: white;
  background-color: #37BC9B;
}
.alert-blue {
  color: white;
  background-color: #4A89DC;
}
.alert-yellow {
  color: white;
  background-color: #F6BB42;
}
.alert-orange {
  color:white;
  background-color: #E9573F;
}
