{
  "serviceName":"demoapp",
  "tags" : [ "app.js", "node", "user-muon-service"],
  "discovery": {
    "type":"amqp",
    "url":"amqp://muon:microservices@localhost"
  },
  "transports": [
    { "type":"amqp", "url":"amqp://muon:microservices@localhost" }
  ],
 "eventLogger": {
   "target":"muon://photon/events"
 }
}